@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'poppins', sans-serif;
    --bg: #f0f0f0;
    --text: #222222;
    --button-disabled: #e2e2e2; 
    --button-active: #4267B2;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--text);
}

body {
    background-color: var(--bg);
}

.button-primary {
    background-color: var(--button-active);
    color: #e2e2e2;
}

.button-secondary {
    background-color: var(--button-disabled);
}