.temp-navbar {
    width: 100%;
    background-color: #4267B2;
    color: #f0f0f0;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
}

.welcome {
    font-size: 3em;
}

.create-new-button {
    font-size: 1.5em;
}

.projects-container {

}

.projects-list {

}

.project-list-item {

}