body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.temp-navbar {
    width: 100%;
    background-color: #4267B2;
    color: #f0f0f0;
    height: 10vh;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 50px 15%;
    align-items: center;
}

.welcome {
    font-size: 3em;
}

.create-new-button {
    font-size: 1.5em;
}

.projects-outer-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 0;
}

.projects-inner-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    padding: 20px 0;
}

.projects-list {
    list-style: none;
    width: 90%;
    overflow: auto;
}

.project-list-item {
    border-bottom: solid 1px black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}